body {
    font-family: Georgia, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #050505;
}

#movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#movies div {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    width: 300px;
    text-align: center;
    transition: box-shadow 0.2s;
}

#movies img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

p {
    padding: 0 10px 10px;
    font-size: 0.9em;
    color: #555;
}
form input{
    flex: 5;
    height: 50%;
    border: 12;
    outline: 12;
    background: transparent;
    color: #000000;
    font-size: 12px;
    padding: 0 30px;
}
form button{
    padding: 0 20px;
    height: 100%;
    background: #a73128;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}
